# LLM API keys
ANTHROPIC_API_KEY=
XAI_API_KEY=
GEMINI_API_KEY=

# macOS SSH access (base64-encoded, written by tools/provision-mac-scaleway)
MACOS_SSH_PRIVATE_KEY=
MACOS_SSH_CONFIG=
MACOS_SSH_KNOWN_HOSTS=

# Kubernetes cluster access (written by provision-hetzner-k3s or provision-eks)
RUMPELPOD_K8S_KUBECONFIG=
RUMPELPOD_TEST_K8S_CONTEXT=
RUMPELPOD_TEST_PUSH_REGISTRY=
RUMPELPOD_TEST_PULL_REGISTRY=
